annotated-types==0.7.0
asgiref==3.8.1
dj-database-url==2.2.0
Django==5.0.6
django-heroku==0.3.1
gunicorn==23.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pillow==10.3.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pydantic==2.8.1
pydantic_core==2.20.1
Pygments==2.18.0
PyYAML==6.0.1
rich==13.7.1
sqlparse==0.5.0
tach==0.6.6
typing_extensions==4.12.2
wcwidth==0.2.13
whitenoise==6.7.0
